img{
    border-radius: 12px;
}
.kep1 {
    width: 500px;
    height: 350px;
}
.logo {
    display: block;
  float: left;
}
#nev {
    float: right;

    text-align: right;
}
h2 {
    text-align: center;
    font-size: x-large;
}
.container {
    margin-top: 250px; 
}
.col-sm-4 { background-color: aqua; border: 12px solid lightgray;}
.col-lg-4 { background-color: aqua; border: 12px solid lightgray;}
.banner_section {
    width: 100%;
    float: left;
    position: relative;
    z-index: 1;
    padding-top: 30px;
}

fieldset
{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.fieldset
{
    width: 25%;
}

legend
{
    text-align: left;
    font-style: italic;
}

fieldset input
{
    height: 25px;
}

fieldset button
{
    margin-top: 10px;
}

.fieldset button
{
    margin-top: 0px;
    height: 35px;
}

.button1
{
    height: 30px;
    width: 150px;
}

.button2
{
    height: 30px;
    width: 150px;
    margin-left: 5px;
}

.input
{
    width: 300px;
    height: 35px;
}

.input2
{
    margin-top: 5px;
}